body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f9;
}

* {
  margin: 0;
  padding: 0;
}

i {
  color: white;
}

.container {
  width: 87vw;
  display: flow-root;
}

header {
  color: white;
  background-color: #161920;
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  position: relative;
}

header .main h1 {
  font-size: 25px;
  color: white;
  padding-block: 15px;
}

header .nav {
  margin-right: 20px;
  height: auto;
  position: relative;
}

header .nav i {
  font-size: 20px;
  position: absolute;
  right: 105%;
  top: 20px;
  display: inline;
}

header .nav h1 {
  font-size: 25px;
  width: 100%;
  height: 100%;
  padding: 15px 10px;
}

header .nav .dropdown {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 150px;
  position: absolute;
  right: 0px;
  top: 57px;
  display: none;
}

header .nav:hover .dropdown {
  display: block;
}

header .nav .dropdown a {
  display: block;
  text-decoration: none;
  color: #161920;
  padding: 10px 8px;
}

.content {
  margin-top: 40px;
  padding-inline: 30px;
  box-sizing: border-box;
}

.content .section h1 {
  color: #282529;
  font-size: 28px;
  font-weight: 400;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid hsla(0, 71%, 52%, 0.622);
}

.sidebar {
  width: 13vw;
  background-color: hsla(0, 91%, 50%, 0.88);
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 4px 0px 15px;
}

.sidebar h1 {
  color: #b0b6bf;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  transition: 0.3s linear;
}

.sidebar h1:hover {
  color: rgb(239, 233, 233);
}

.sidebar .list {
  margin-top: 35px;
}

.sidebar .list .row a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 20px 35px;
  box-sizing: border-box;
  /* background-color: #282529; */
}

.sidebar .row {
  transition: 0.3s linear;
}

.sidebar .row:hover {
  background-color: #abb0b7;
}

.sidebar .row:nth-child(2) {
  background-color: #282529;
  border-left: 4px solid #abb0b7;
}

.sidebar .row i {
  position: absolute;
  left: 10px;
}

.sidebar .row:first-child i {
  top: 100px;
}
.sidebar .row:nth-child(2) i {
  top: 160px;
}

.sidebar .row:nth-child(3) i {
  top: 220px;
}

.content .form {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .form form {
  background: red;
  width: 100%;
  height: 100%;
}

.main-container {
  background-color: #f4f2f2;
  width: 100%;
  height: 60vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flow-root;
  border-radius: 10px;
  margin-top: 30px;
}

.wrapper form .row .field {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.wrapper .row i {
  color: #a94442;
}

.wrapper {
  margin-top: 60px;
}

.content .main-container i {
  position: relative;
  left: 290px;
  top: 50px;
  font-size: large;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-right: 100px;
}

.action .row input {
  width: 100px;
  height: 40px;
  margin-left: 40px;
  background: hsla(0, 76%, 52%, 0.754);
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}

.action .row input:hover {
  background-color: #e0dede;
  color: black;
}

.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 85%;
  border-radius: 5px;
  margin: 20px auto;
}
